/*
   From here you can add your responsive (media) style.
   -----
*/

@import "variables";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

}

// ≥992px
@include media-breakpoint-down(md) {
   
}

// ≥768px
@include media-breakpoint-down(sm) {
   
}

// ≥576px
@include media-breakpoint-down(xs) {
   .Header {
      background-image: url("../img/background/background_mobile.png");
      height: 400px;
      &-social {
         width: 70%;
         margin: auto;
         padding-top: 30px;
         &__workwin {
            font-size: 24px;
            line-height: 30px;
            text-align: center;
         }
         &__workabout {
            display: none;
         }
         &__buy {
            margin: auto;
            margin-top: 30px;
         }
      }
      &__mouse {
         display: none;
      }
   }

   .Advantages {
      &-statistic {
         display: block;
         text-align: center;
         &__image {
            width: 100%;
         }
         &__about {
            width: 100%;
         }
         &__sectorname {
            width: 75%;
            margin: auto;
         }
         &__sector {
            font-size: 16px;
         }
      }
   }
   .Calculator{
      background-image: url("../img/background/mobile_green.png");
      height: 1075px;
      &-header{
         &__center {
            width: 80%;
         }
      }
      &-tab {
         &__link {
            font-size: 13px;
            width: 212px;
            height: 60px;
            padding: 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
         }
         &__content {
            height: 775px;
         }
      }
      &-input {
         &__label {
            margin-top: 50px;
            &-green {
               margin-top: 20px;
            }
         }
         &__droparrow {
            top: 92px;
         }
      }
   }
   .Faq {
      &-faq {
         margin-top: -40px;
      }
   }
   .Video {
      height: 923px;
      background-image: url("../img/background/white_background_2.png");

      &-about {
         padding: 0 0;
         padding-top: 30px;
         &__body {
            margin-top: 20px;
         }
      }
   }
   .Contact {
      height: 730px;
      background-image: url(".././img/background/contact_mobile_2.png");

      &-input {
         text-align: center;
         &__send {
            width: 380px;
         }
      }
      &__head {
         &-text {
            text-align: center;
         }
      }
      &-connection {
         padding: 0 0;
         justify-content: space-between;
         &__body {
            width: 75%;
            :last-child {
               font-weight: 500;
            }
         }
      }
   }
   .Subscribe {
      height: 170px;
      align-items: inherit;
      &-form {
         width: 100%;
         margin-top: 45px;

         &__email {
            height: 35px;
            font-size: 14px;
         }
         &__subbutton {
            width: 380px;
            height: 35px;
            top: 50px;
            right: 15%;
         }
      }
   }
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
   .Header {
      &-mobile {
         display: none;
      }
   }
   .Calculator {
      &-tab {
         &__link {
            padding: 25px 16px;
         }
      }
   }
   .Faq {
      &-faq {
         margin-top: -40px;
      }
   }
   .Video {
      &-about {
         padding: 15px 35px;
      }
   }
   .Contact {
      &-input {
         margin-top: 57px;
      }
      &-connection {
         margin-top: 30px;
      }
      &-margin {
         margin-top: 80px;
      }
   }
}
@media only screen and (min-width: 1200px) {
   .Header {
      &-mobile {
         display: none;
      }
      &-social {
         &__workabout {
            width: 93%;
         }
      }
   }
   .Faq {
      &-faq {
         margin-top: -40px;
      }
   }
   .Contact {
      &-input {
         margin-top: 57px;
      }
      &-margin {
         margin-top: 83px;
      }
      &-connection {
         margin-top: 30px;
      }
      
   }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
   .Header {
      height: 400px;
      &-desktop {
         display: none;
      }
      &-mobile {
         &__lang {
            margin-top: 4px;
         }
         &__language {
            width: 30%;
         }
      }
      &__mouse {
         display: none;
      }
      &-social {
         padding-top: 70px;
         &__workwin {
            text-align: center;
            font-size: 41px;
         }
         &__workabout {
            display: none;
         }
         &__buy {
            margin: auto;
            margin-top: 50px;
         }
      }
   }
   .Advantages {
      &-statistic {
         display: block;

         &__image {
            width: 100%;
            text-align: center;
         }
         &__about {
            width: 100%;
            text-align: center;
         }
         &__sector {
            font-size: 16px;
         }
         &__sectorname {
            width: 60%;
            margin: auto;
         }
      }
   }
   .Calculator {
      height: 900px;
      &-header {
         &__center {
            width: 63%;
         }
      }
      &-tab {
         &__link {
            font-size: 13px;
            width: 212px;
            height: 60px;
            padding: 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
   }
   .Faq {
      &-faq {
         margin-top: -75px;
      }
   }
   .Video {
      height: 1600px;
      background-image: url("../img/background/white_background_2.png");

      &-about {
         padding: 35px 0px;
         &__head {
            font-size: 35px;
         }
         &__header {
            font-size: 35px;
         }
         &__body {
            font-size: 25px;
            line-height: 50px;
         }
      }
      
   }
   .Contact {
      &-input {
         margin-top: 50px;
      }
      &-connection {
         margin-top: 70px;
         justify-content: space-between;
         &__body {
            width: 70%;
         }
      }
      &-connection {
         margin-top: 30px;
      }
      &-margin {
         margin-top: 80px;
      }
   }
   .Subscribe {
      &-form {
         width: 70%;
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
   .Header {
      height: 400px;
      &-desktop {
         display: none;
      }
      &-mobile {
         &__lang {
            margin-top: 4px;
         }
         &__language {
            width: 30%;
         }
      }
      &__mouse {
         display: none;
      }
      &-social {
         padding-top: 70px;
         &__workwin {
            text-align: center;
            font-size: 41px;
         }
         &__workabout {
            display: none;
         }
         &__buy {
            margin: auto;
            margin-top: 50px;
         }
      }
   }
   .Advantages {
      &-statistic {
         display: block;

         &__image {
            width: 100%;
            text-align: center;
         }
         &__about {
            width: 100%;
            text-align: center;
         }
         &__sector {
            font-size: 12px;
         }
         &__sectorname {
            width: 100%;
            margin: auto;
         }
      }
   }
   .Calculator {
      height: 900px;
      &-header {
         &__center {
            width: 63%;
         }
      }
      &-tab {
         &__link {
            font-size: 13px;
            width: 212px;
            height: 60px;
            padding: 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
      &-input {
         &__label {
            font-size: 11px;
            &-green {
               font-size: 11px;
            }
         }
      }
   }
   .Faq {
      &-faq {
         margin-top: -75px;
      }
   }
   .Video {
      height: 1245px;
      background-image: url("../img/background/white_background_2.png");

      &-about {
         padding: 35px 0px;
         &__head {
            font-size: 35px;
         }
         &__header {
            font-size: 35px;
         }
         &__body {
            font-size: 25px;
            line-height: 50px;
         }
      }
      
   }
   .Contact {
      &-input {
         margin-top: 50px;
      }
      &-connection {
         padding: 0 0;
         margin-top: 70px;
         justify-content: space-between;
         &__body {
            width: 74%;
         }
      }
      &-connection {
         margin-top: 30px;
      }
      &-margin {
         margin-top: 80px;
      }
   }
   .Subscribe {
      &-form {
         width: 70%;
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
@media only screen and (max-width: 576px) and (min-width: 500px) {
   .Header {
      height: 400px;
      &-desktop {
         display: none;
      }
      &-mobile {
         &__lang {
            margin-top: 4px;
         }
         &__language {
            width: 30%;
         }
      }
      &-social {
         padding-top: 70px;
         &__workwin {
            text-align: center;
            font-size: 27px;
         }
         &__workabout {
            display: none;
         }
         &__buy {
            margin: auto;
            margin-top: 20px;
         }
      }
   }
   .Advantages {
      &-statistic {
         display: block;

         &__image {
            width: 100%;
            text-align: center;
         }
         &__about {
            width: 100%;
            text-align: center;
         }
         &__sectorname {
            width: 77%;
            margin: auto;
         }
      }
   }
   .Calculator {
      background-image: url("../img/background/mobile_green.png");
      height: 1080px;
      &-header {
         &__center {
            width: 63%;
         }
      }
      &-tab {
         &__link {
            font-size: 13px;
            width: 212px;
            height: 60px;
            padding: 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
@media only screen and (max-width: 500px) and (min-width: 420px) {
   .Header {
      background-image: url("../img/background/background_mobile.png");
      height: 360px;
      &-desktop {
         display: none;
      }
      &-mobile {
         &__language {
            width: 30%;
            margin-top: 4px;
         }
      }
      &-social {
         width: 70%;
         margin: auto;
         padding-top: 30px;
         &__workwin {
            font-size: 24px;
            line-height: 30px;
            text-align: center;
         }
         &__workabout {
            display: none;
         }
         &__buy {
            margin: auto;
            margin-top: 30px;
         }
      }
      &__mouse {
         display: none;
      }
   }

   .Advantages {
      &-statistic {
         display: block;
         text-align: center;
         &__image {
            width: 100%;
         }
         &__about {
            width: 100%;
         }
         &__sectorname {
            width: 80%;
            margin: auto;
         }
      }
   }
   .Calculator{
      background-image: url("../img/background/mobile_green.png");
      height: 1068px;
      &-header{
         &__center {
            width: 80%;
         }
      }
      &-tab {
         &__link {
            font-size: 13px;
            width: 212px;
            height: 60px;
            padding: 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
      &-input {
         &__label {
            margin-top: 40px;
            &-green {
               margin-top: 35px;
            }
         }
         &__droparrow {
            top: 53px;
         }
      }
   }
   .Faq {
      &-faq {
         margin-top: 0px;
      }
   }
   .Video {
      height: 796px;
      background-image: url("../img/background/white_background_2.png");

      &-about {
         padding: 0 0;
         padding-top: 30px;
      }
   }
   .Contact {
      height: 730px;
      background-image: url(".././img/background/contact_mobile_2.png");

      &-input {
         &__send {
            width: 380px;
         }
      }
      &__head {
         &-text {
            text-align: center;
         }
      }
      &-connection {
         padding: 0 0;
         justify-content: space-between;
         &__body {
            width: 75%;
            :last-child {
               font-weight: 500;
            }
         }
      }
   }
   .Subscribe {
      height: 170px;
      align-items: inherit;
      &-form {
         width: 100%;
         margin-top: 45px;

         &__email {
            height: 35px;
            font-size: 14px;
         }
         &__subbutton {
            width: 380px;
            height: 35px;
            top: 50px;
            right: 10%;
         }
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
@media only screen and (max-width: 420px) and (min-width: 411px) {
   .Header {
      background-image: url("../img/background/background_mobile.png");
      height: 295px;
      &-desktop {
         display: none;
      }
      &-mobile {
         &__language {
            width: 30%;
            margin-top: 4px;
         }
      }
      &-social {
         width: 70%;
         margin: auto;
         padding-top: 30px;
         &__workwin {
            font-size: 24px;
            line-height: 30px;
            text-align: center;
         }
         &__workabout {
            display: none;
         }
         &__buy {
            margin: auto;
            margin-top: 30px;
         }
      }
      &__mouse {
         display: none;
      }
   }

   .Advantages {
      &-statistic {
         display: block;
         text-align: center;
         &__image {
            width: 100%;
         }
         &__about {
            width: 100%;
         }
         &__sectorname {
            width: 96%;
         }
      }
   }
   .Calculator{
      background-image: url("../img/background/mobile_green.png");
      height: 1065px;
      &-header{
         &__center {
            width: 80%;
         }
      }

      &-tab {
         &__link {
            font-size: 13px;
            width: 212px;
            height: 60px;
            padding: 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
      &-input {
         &__label {
            margin-top: 40px;
            &-green {
               margin-top: 35px;
            }
         }
         &__droparrow {
            top: 53px;
         }
      }
   }
   .Faq {
      &-faq {
         margin-top: -30px;
      }
   }
   .Video {
      height: 680px;
      background-image: url("../img/background/white_background_2.png");

      &-about {
         padding: 0 0;
         padding-top: 30px;
      }
   }
   .Contact {
      height: 730px;
      background-image: url(".././img/background/contact_mobile_2.png");

      &-input {
         &__send {
            width: 380px;
         }
      }
      &__head {
         &-text {
            text-align: center;
         }
      }
      &-connection {
         padding: 0 0;
         justify-content: space-between;
         &__body {
            width: 75%;
            :last-child {
               font-weight: 500;
            }
         }
      }
   }
   .Subscribe {
      height: 170px;
      align-items: inherit;
      &-form {
         width: 100%;
         margin-top: 45px;

         &__email {
            height: 35px;
            font-size: 14px;
         }
         &__subbutton {
            width: 380px;
            height: 35px;
            top: 50px;
            right: 0;
         }
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
@media only screen and (max-width: 411px) and (min-width: 400px) {
   .Header {
      height: 260px;
      &-desktop {
         display: none;
      }
      &-social {

         &__workwin {
            font-size: 19px;
         }
      }
      &-mobile {
         &__orderbutton {
            width: 300px;
         }
      }
   }
   .Advantages {
      &-statistic {
         &__sector {
            font-size: 11px;
         }
         &__sectorname {
            font-size: 11px;
         }
      }
   }
   .Calculator {
      height: 1070px;
      &-header {
         &__center {
            width: 100%;
         }
      }
      &-tab {
         &__link {
            font-size: 12px;
         }
      }
      &-input {
         &__label {
            margin-top: 40px
            &-green {
               margin-top: 35px;
            }
         }
      }
   }

   .Faq {
      .card-body {
         font-size: 13px;
      }
      &-faq {
         margin-top: -30px;

         &__collapsbody {

            span {
               font-size: 11px;
            }
         }
      }
   }
   .Video {
      height: 670px;

      &-about {
         padding: 0 0;
         padding-top: 30px;
         &__head {
            font-size: 20px;
         }
         &__header {
            font-size: 19px;
         }
         &__body {
            font-size: 13px;
            padding-top: 20px;
         }
      }
   }
   .Contact {
      height: 730px;

      &-input {
         &__send {
            width: 380px;
         }
      }
      &-connection {
         padding: 0 0;
         justify-content: space-between;
         &__body {
            width: 75%;
            :last-child {
               font-weight: 500;
            }
         }
      }
   }
   .Subscribe {
      height: 170px;
      align-items: inherit;
      &-form {
         width: 100%;
         margin-top: 45px;

         &__email {
            height: 35px;
            font-size: 14px;
         }
         &__subbutton {
            width: 380px;
            height: 35px;
            top: 50px;
            right: 0;
         }
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
@media only screen and (max-width: 400px) and (min-width: 360px) {
   .Header {
      height: 260px;
      &-desktop {
         display: none;
      }
      &-social {

         &__workwin {
            font-size: 19px;
         }
      }
      &-mobile {
         &__language {
            width: 30%;
            margin-top: 4px;
         }
         &__orderbutton {
            width: 300px;
         }
      }
   }
   .Advantages {
      &-statistic {
         &__sector {
            font-size: 11px;
         }
         &__sectorname {
            font-size: 11px;
         }
      }
   }
   .Calculator {
      height: 1080px;
      &-header {
         &__center {
            width: 100%;
         }
      }
      &-tab {
         &__link {
            font-size: 12px;
         }
      }
      &-input {
         &__label {
            margin-top: 40px
            &-green {
               margin-top: 35px;
            }
         }
      }
   }

   .Faq {
      .card-body {
         font-size: 13px;
      }
      &-faq {
         margin-top: -30px;

         &__collapsbody {

            span {
               font-size: 11px;
            }
         }
      }
   }
   .Video {
      height: 650px;

      &-about {
         padding: 0 0;
         padding-top: 30px;
         &__head {
            font-size: 20px;
         }
         &__header {
            font-size: 19px;
         }
         &__body {
            font-size: 13px;
            padding-top: 20px;
         }
      }
   }
   .Contact {
      height: 730px;

      &-input {
         &__send {
            width: 342px;
         }
      }
      &-connection {
         padding: 0 0;
         justify-content: space-between;
         &__body {
            width: 75%;
            :last-child {
               font-weight: 500;
            }
         }
      }
   }
   .Subscribe {
      height: 170px;
      align-items: inherit;
      &-form {
         width: 100%;
         margin-top: 45px;

         &__email {
            height: 35px;
            font-size: 14px;
         }
         &__subbutton {
            width: 342px;
            height: 35px;
            top: 50px;
            right: 0;
         }
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
@media only screen and (max-width: 360px) and (min-width: 320px) {
   .Header {
      height: 260px;
      &-desktop {
         display: none;
      }
      &-social {

         &__workwin {
            font-size: 19px;
         }
      }
      &-mobile {
         &__language {
            width: 30%;
            margin-top: 4px;
         }
         &__orderbutton {
            width: 300px;
         }
      }
   }
   .Advantages {
      &-statistic {
         &__sector {
            font-size: 11px;
         }
         &__sectorname {
            font-size: 11px;
         }
      }
   }
   .Calculator {
      height: 1080px;
      &-header {
         &__center {
            width: 100%;
         }
      }
      &-tab {
         &__link {
            font-size: 12px;
         }
      }
      &-input {
         &__label {
            margin-top: 40px;
            &-green {
               margin-top: 35px;
            }
         }
      }
   }

   .Faq {
      .card-body {
         font-size: 13px;
      }
      &-faq {
         margin-top: -30px;

         &__collapsbody {

            span {
               font-size: 11px;
            }
         }
      }
   }
   .Video {
      height: 650px;

      &-about {
         padding: 0 0;
         padding-top: 30px;
         &__head {
            font-size: 20px;
         }
         &__header {
            font-size: 19px;
         }
         &__body {
            font-size: 13px;
            padding-top: 20px;
         }
      }
   }
   .Contact {
      height: 730px;

      &-input {
         &__send {
            width: 330px;
         }
      }
      &-connection {
         padding: 0 0;
         justify-content: space-between;
         &__body {
            width: 75%;
            :last-child {
               font-weight: 500;
            }
         }
      }
   }
   .Subscribe {
      height: 170px;
      align-items: inherit;
      &-form {
         width: 100%;
         margin-top: 45px;

         &__email {
            height: 35px;
            font-size: 14px;
         }
         &__subbutton {
            width: 329px;
            height: 35px;
            top: 50px;
            right: 0;
         }
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
@media only screen and (max-width: 320px) and (min-width: 0px) {
   .Header {
      height: 260px;
      &-desktop {
         display: none;
      }
      &-social {

         &__workwin {
            font-size: 19px;
         }
      }
      &-mobile {
         &__language {
            width: 30%;
            margin-top: 4px;
         }
      }
   }
   .Advantages {
      &-statistic {
         &__sector {
            font-size: 11px;
         }
         &__sectorname {
            font-size: 11px;
         }
      }
   }
   .Calculator {
      height: 1080px;
      &-header {
         &__center {
            width: 100%;
         }
      }
      &-tab {
         &__link {
            font-size: 12px;
         }
      }
   }

   .Faq {
      .card-body {
         font-size: 13px;
      }
      &-faq {
         margin-top: -30px;

         &__collapsbody {

            span {
               font-size: 10px;
            }
         }
      }
   }
   .Video {
      height: 660px;

      &-about {
         padding: 0 0;
         padding-top: 30px;
         &__head {
            font-size: 20px;
         }
         &__header {
            font-size: 19px;
         }
         &__body {
            font-size: 13px;
            padding-top: 20px;
         }
      }
   }
   .Contact {
      height: 730px;

      &-input {
         &__send {
            width: 280px;
         }
      }
      &-connection {
         padding: 0 0;
         justify-content: space-between;
         &__body {
            width: 75%;
            :last-child {
               font-weight: 500;
            }
         }
      }
   }
   .Subscribe {
      height: 170px;
      align-items: inherit;
      &-form {
         width: 100%;
         margin-top: 45px;

         &__email {
            height: 35px;
            font-size: 14px;
         }
         &__subbutton {
            width: 290px;
            height: 35px;
            top: 50px;
            right: 0;
         }
      }
   }
   .Footer {
      &-social {
         padding: 20px 0;
      }
      &-date {
         padding: 20px 0;
         text-align: center;
      }
      &-developed {
         padding: 20px 0;
      }
      height: auto;
      &-desktop {
         display: none;
      }
      &-mobile {
         display: block;
      }
   }
}
/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
   
}
// ≤768px
@include media-breakpoint-up(md) {
 
}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(exl) {

}



/*==========  For Retina  ==========*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
