/*
   From here you can add your body style.
   -----
*/


/* - Variables - */
:root {}

/* - Root - */
html {
    font-size: 100%;
    box-sizing: border-box;
}

/* - Body - */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    background-color: #f9f9f9;
}

