/*
   From here you can add your footer style.
   -----
*/

.Footer {

   width: 100%;
   height: 60px;
   background-color: #ffffff;
   border-top: 1px solid #95959547;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   &-mobile {
      display: none;
   }
      &-date {
         width: 100%;
         span {
            color: #828282;
            font-family: SanFrancisco;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.15px;
         }
      }

      &-developed {
         width: 100%;
         text-align: center;
         span {
            color: #828282;
            font-family: SanFrancisco;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.15px;
         }
      }

      &-social {
         width: 80%;
         margin: auto;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
      }
}
