/*
   From here you can add your header style.
   -----
*/

.Header {
      width: 100%;
      height: 617px;
      background-image: url("../../img/background/background_2.png");
      background-size: cover;
      background-position: center;
         
         &__row {
            padding-top: 25px;
         }

         // Header Logo Image
         &__image {
            width: 100%;
            height: 100%;
            img {
               width: 129px;
               height: 53px;
            }
         }

         // End Header Logo Image

         // Header Navbar
         &-navbar {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
               &__nav {
                  width: 80%;
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
               }
               &__link {
                  color: #ffffff;
                  font-family: SanFrancisco;
                  font-size: 14px;
                  font-weight: 500;
                  text-transform: uppercase;

                  &:hover {
                     color: #ffffff;
                     text-decoration: none;
                  }
               }

               &__language {
                  width: 20%;
               }

               &__lang {
                  width: 80%;
                  height: 100%;
                  margin: auto;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
               }
               &__langlink {
                  color: #ffffff;
                  font-family: SanFrancisco;
                  font-size: 14px;
                  font-weight: 500;
                  text-transform: uppercase;

                  &:hover {
                     color: #ffffff;
                     text-decoration: none;
                  }
                  img {
                     margin-left: 8px;
                  }
               }
               &__content {
                  position: absolute;
                  top: 25px;
                  left: 0;
                  width: 68px;
                  height: 74px;
                  box-shadow: 0 3px 20px rgba(121, 121, 121, 0.3);
                  background-color: #ffffff;
                  border-radius: 5px;
                  display: none;
               }
               &__contentlink {
                  
                  color: #2d3235;
                  font-family: SanFrancisco;
                  font-size: 16px;
                  font-weight: 500;
                  text-transform: uppercase;
                  display: block;
                  padding: 0px 20px;

                  &.langactive {
                     color: #1bbc9d;
                     &:hover {
                        color: #1bbc9d;
                     }
                  }

                  &:hover {
                     color: #2d3235;
                     text-decoration: none;
                  }
               }

         }
         // End Header Navbar

         // Header Buttons
         &-buttons {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &__col {
               display: flex;
               justify-content: center;
               align-items: center;
            }

               &__order {
                  width: 140px;
                  height: 40px;
                  cursor: pointer;
                  border-radius: 20px;
                  background-color: #1bbc9d;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  a { 
                     color: #ffffff;
                     font-size: 16px;
                     font-family: SanFrancisco;
                     font-weight: 400;
                     letter-spacing: 0.8px;
                     &:hover {
                        color: #ffffff;
                        text-decoration: none;
                     }
                  }
                  
                  img {
                     width: 10%;
                     margin-right: 5px;
                  }
                  &:hover {
                     color: #ffffff;
                     text-decoration: none;
                  }
               }

               &__userprofil {
                  width: 140px;
                  height: 40px;
                  cursor: pointer;
                  border-radius: 20px;
                  border: 1px solid #ffffff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  a {
                     color: #ffffff;
                     font-family: SanFrancisco;
                     font-size: 16px;
                     font-weight: 400;
                     &:hover {
                        color: #ffffff;
                        text-decoration: none;
                     }
                  }
                  
                  img {
                     width: 8%;
                     margin-right: 5px;
                  }

                  &:hover {
                     color: #ffffff;
                     text-decoration: none;
                  }
               }
         }
         // End Header Buttons

         // Header Social 
         &-social {
            width: 100%;
            padding-top: 100px;

            &__workwin {
               display: block;
               text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
               font-family: SanFrancisco;
               color: #ffffff;
               font-weight: 800;
               font-size: 40px;
               line-height: 46px;
            }

            &__workabout {
               width: 96%;
               margin-top: 22px;
               text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
               color: #ffffff;
               font-size: 14px;
               font-family: SanFrancisco;
               line-height: 22px;
               font-weight: 400;
               letter-spacing: 0.7px;
            }

            &__buy {
               width: 160px;
               height: 50px;
               cursor: pointer;
               box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
               background-color: #1bbc9d;
               border-radius: 25px;
               margin-top: 25px;
               display: flex;
               justify-content: center;
               align-items: center;

               a {
                  color: #ffffff;
                  font-family: SanFrancisco;
                  font-size: 16px;
                  font-weight: 400;
                  text-transform: uppercase;
                  letter-spacing: 0.8px;

                  &:hover {
                     color: #ffffff;
                     text-decoration: none;
                  }
               }
            }
         }
         // End Header Social

         // Header Mouse
         &__mouse {
            width: 100%;
            text-align: center;

            img {
               margin-top: 100px;
               cursor: pointer;
            }
         }
         // End Header Mouse

         // Mobile
         &-mobile {

            &__logo {
               width: 100%;
            }
            &__navbar {
               width: 100%;
            }
            &__language {
               width: 20%;
               float: right;
               margin-right: 15px;
            }

            &__lang {
               width: 80%;
               height: 100%;
               margin: auto;
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
            }
            &__langlink {
               color: #ffffff;
               font-family: SanFrancisco;
               font-size: 16px;
               font-weight: 500;
               text-transform: uppercase;
               

               &:hover {
                  color: #ffffff;
                  text-decoration: none;
               }
               img {
                  margin-left: 8px;
               }
            }
            &__content {
               position: absolute;
               top: 25px;
               left: -13px;
               width: 68px;
               height: 74px;
               box-shadow: 0 3px 20px rgba(121, 121, 121, 0.3);
               background-color: #ffffff;
               border-radius: 5px;
               display: none;
               z-index: 999999;
            }
            &__contentlink {
               
               color: #2d3235;
               font-family: SanFrancisco;
               font-size: 16px;
               font-weight: 500;
               text-transform: uppercase;
               display: block;
               padding: 0px 20px;
               &.linkactive {
                  color: #1bbc9d;
               }

               &.langactive {
                  color: #1bbc9d;
                  &:hover {
                     color: #1bbc9d;
                  }
               }

               &:hover {
                  color: #2d3235;
                  text-decoration: none;
               }

            }
            &__navbutton {
               float: right;
            }
            &__userbutton {
               float: right;
               margin-right: 30px;
            }

            &__menu {
               width: 100%;
               height: 100%;
               background-color: #ffffff;
               border: 1px solid #1bbc9d;
               position: fixed;
               top: 0;
               left: 0;
               z-index: 9999999999;
               display: none;
            }
            &__close {
               text-align: right;
               margin-right: 20px;
               margin-top: 25px;
            }
            &__navbarmenu {
               display: grid;
               text-align: center;
            }
            &__link {
               color: #373c41;
               font-family: SanFrancisco;
               font-size: 16px;
               font-weight: 500;
               line-height: 60px;
               text-transform: uppercase;
               &.linkactive {
                  color: #1bbc9d;
               }
               &:hover {
                  color: #373c41;
                  text-decoration: none;
               }
            }
            &__orderbutton {
               width: 328px;
               height: 40px;
               box-shadow: 10px 17px 25px rgba(0, 0, 0, 0.4);
               border-radius: 20px;
               background-color: #1bbc9d;
               margin: auto;
               margin-top: 30px;
               display: flex;
               justify-content: center;
               align-items: center;
               a {
                  color: #ffffff;
                  font-family: SanFrancisco;
                  font-size: 16px;
                  font-weight: 600;
                  text-transform: uppercase;
                  letter-spacing: 0.8px;
                  &:hover {
                     color: #ffffff;
                     text-decoration: none;
                  }
               }
            }
         }
         // End Mobile

}

::placeholder {
   color: #b9b9b9;
   font-family: SanFrancisco;
   font-size: 14px;
   font-weight: 500;
}