/*
   From here you can add your main style.
   -----
*/
    // Advantages
 
.Advantages {
    width: 100%;
    margin-top: 75px;
        // Advantages presentation
        &-presentation {
            width: 100%;
            text-align: center;

            &__present {
                color: #4e4e4e;
                font-family: SanFrancisco;
                font-size: 24px;
                font-weight: 800;
                text-transform: uppercase;
                display: block;
            }

            &__about {
                color: #4e4e4e;
                font-family: SanFrancisco;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0.7px;
            }
        }
        // End Advantages presentation
        &__center {
            width: 70%;
            margin: auto;
            padding-bottom: 100px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        // Advantages statistic
        &-statistic {
            width: 100%;
            display: flex;
            margin-top: 50px;

            &__image {
                width: 20%;
                img {
                    width: 37px;
                    height: 37px;
                    margin-top: 10px;
                }
            }
            &__about {
                width: 80%;
            }
            &__sector {
                color: #515656;
                font-family: SanFrancisco;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                display: block;
            }
            &__sectorname {
                width: 85%;
                color: #4e4e4e;
                font-family: SanFrancisco;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0.7px;
            }
        }
        // Advantages statistic
}       
    // Advantages

    // Calculator
.Calculator {
    width: 100%;
    height: 890px;
    background-image: url("../../img/background/background_green2.png");
    background-size: cover;
    background-position: center;
    // Header Background 
    
        
        
     // Calculator Header
        &-header {
            width: 100%;
            text-align: center;

            &__center {
                width: 37%;
                margin: auto;
                padding-top: 60px;
            }

            &__head {
                color: #ffffff;
                font-family: SanFrancisco;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                display: block;
            }
            &__about {
                color: #ffffff;
                font-family: SanFrancisco;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0.7px;
            }
        }
     // End Calculator Header

     // Calculator Tab
        &-tab {
            width: 100%;
            margin-top: 40px;
            border-radius: 5px 5px 5px 5px;
            background-color: #ffffff;

            &__background {
                width: 100%;
                height: 544px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
                border-radius: 5px 5px 5px 5px;
                background-color: #ffffff;
            }

            &__buttons {
                width: 300%;
                display: flex;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
                border-radius: 5px 5px 0 0;
                background-color: transparent;
            }
            &__scroll {
                width: 100%;
                height: 100%;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
                overflow-x: scroll;
                display: flex;

                
            }
            ::-webkit-scrollbar {
                display: none;
            }
            &__link {
                background-color: transparent;
                float: left;
                border: none;
                outline: 0;
                cursor: pointer;
                padding: 25px 34px;
                color: #4e4e4e;
                font-family: SanFrancisco;
                font-size: 16px;
                font-weight: 600;

                &:focus {
                    outline: none;
                }

                &.btnactive {
                    border-bottom: 5px solid #097a5e;
                }
            }

            &__content {
                width: 100%;
                height: 530px;
                border-radius: 0 0 5px 5px;
                background-color: transparent;
                display: none;

                &.contentactive {
                    display: block;
                }
            }


            
        }
     // End Calculator Tab

     // Calculator input
        &-input {
            width: 82%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__label {
                display: block;
                margin-top: 50px;
                color: #000000;
                font-family: SanFrancisco;
                font-size: 13px;
                font-weight: 600; 

                &-green {
                    margin-top: 50px;
                    color: #097a5e;
                    font-family: SanFrancisco;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
            &__input {
                width: 100%;
                padding: 5px 13px;
                border-radius: 20px;
                border: 1px solid #959595;
                background-color: #ffffff;

                &:focus{
                    outline: none;
                }
            }
            &__selected {
                width: 100%;
                padding: 5px 13px;
                border-radius: 20px;
                border: 1px solid #959595;
                background-color: #ffffff;
                appearance: none;
                position: relative;

                &:focus{
                    outline: none;
                }
            }
            &__droparrow {
                position: absolute;
                top: 95px;
                right: 35px;
            }
        }
        
     // End Calculator Input

     
}
    // End Calculator
    // FAQ
.Faq {
    width: 100%;
    height: auto;
    #accordion{
        margin-top: 30px;
        .card {
            border: none;
        }
        .card-header {
            padding: 0;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }
        .card-body {
            height: auto;
            min-height: 148px;
            width: 100%;
            padding: 20px 40px;
            color: #656565;
            background-color: #ffffff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px; 
            font-family: SanFrancisco;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            
        }
        .collapse {
            width: 100%;
            position: absolute;
            top: 102px;
            z-index: 9999;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
            background-color: #ffffff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px; 
        }
        .collapsing {
            width: 100%;
            position: absolute; 
            z-index: 9999;   
            top: 102px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
            transition:height .35s ease;
        }
    }
    // FAQ
    &-faq {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        &__shadow {
            position: absolute;
            top: 0;
            z-index: 9999999;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
            width: 100%;
            height: 100%;
        }
        
        &__faq {
            color: #4e4e4e;
            font-family: SanFrancisco;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            display: block;
        }
        &__about {
            color: #4e4e4e;
            font-family: SanFrancisco;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.7px;
        }
        &__collaps {
            width: 100%;
            height: 110px;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            background-color: #ffffff;
            padding: 20px 10px;
            // position: absolute;
            // z-index: 13;
        }
        &__collapsimage {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__collapsbody {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            span {
                color: #4e4e4e;
                font-family: SanFrancisco;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
            }
            
        }
        &__content {
            width: 100%;
            height: 136px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
            border-radius: 0 0 10px 10px;
            background-color: #ffffff;
            // position: absolute;
            // top: 108px;
            // z-index: 14;
        }
    }
 // End FAQ
}
    // End FAQ
    // Video
.Video {
    width: 100%;
    height: 550px;
    background-image: url("../../img/background/white_background.png");
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    .c-video {
        width: 100%;
        position: relative;
        border-radius: 10px;
        
    }
    .video {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    }
    .controls {
        width: 100%;
        height: 98%;
        position: absolute;
        bottom: 6px;
        border-radius: 10px;
    }
    .green-bar {
        width: 100%;
        height: 4%;
        top: 0;
        left: 0;
        background: transparent;
        border-radius: 10px;
    }
    .green-juice {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 10px;
    }
    .play-button {
        width: 100%;
        height: 96%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            background: none;
            border: none;
            outline: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

    }
    #pause-image {
        display: none;
    }

        &__container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-about {
            padding: 35px 35px;
            &__head {
                color: #4e4e4e;
                font-family: SanFrancisco;
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
                text-transform: uppercase;
                display: block;
            }
            &__header {
                color: #1bbc9d;
                font-family: SanFrancisco;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
            }
            &__body {
                color: #4e4e4e;
                font-family: SanFrancisco;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0.7px
            }
        }
}
    // End Video

    // Contact
.Contact {
    width: 100%;
    height: 578px;
    background-image: url("../../img/icons/2-layers.png");
    background-size: cover;
    background-position: center;
    
    &__container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__head {
        color: #ffffff;
        font-family: SanFrancisco;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &-input {
        width: 100%;

        &__send {
            width: 165px;
            height: 41px;
            margin-top: 20px;
            border-radius: 20px;
            cursor: pointer;
            border: none;
            background-color: #1bbc9d;
            color: #ffffff;
            font-family: SanFrancisco;
            font-size: 16px;
            font-weight: 500;
            line-height: 26.99px;
            &:focus {
                outline: none;
            }
        }
        input {
            width: 100%;
            height: 40px;
            padding: 0 20px;
            margin-top: 25px;
            border-radius: 20px;
            border: 1px solid #cdcdcd;
            background-color: #f7f7f7;
            &:focus {
                outline: none;
            }
        }
        textarea {
            width: 100%;
            height: 131px;
            padding: 10px 20px;
            margin-top: 25px;
            border-radius: 10px;
            border: 1px solid #cdcdcd;
            background-color: #f7f7f7;
            &:focus {
                outline: none;
            }
        }
    }

    &-connection{
        width: 100%;
        margin-top: 30px;
        padding: 0px 30px;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__image {
            width: 20%;
            height: 100%;
        }

        &__body {
            width: 80%;
            height: 100%;

            :first-child {
                color: #f7f7f7;
                font-family: SanFrancisco;
                font-size: 18px;
                font-weight: 600;
                display: block;
            }
            :last-child {
                color: #f7f7f7;
                font-family: SanFrancisco;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
    // End Contact

    // Subscripe
    .Subscribe {
        height: 213px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &-form {
            width: 50%;
            margin: auto;
            position: relative;
            &__email {
                    width: 100%;
                    height: 48px;
                    border-radius: 24px;
                    background-color: #f3f3f3;
                    border: none;
                    padding: 0 20px;
                    &:focus {
                        outline: none;
                    }
            }
            &__subbutton {
                width: 138px;
                height: 40px;
                border-radius: 19px;
                background-color: #1bbc9d;
                border: none;
                color: #ffffff;
                font-family: SanFrancisco;
                font-size: 14px;
                font-weight: 400;
                position: absolute;
                top: 4px;
                right: 6px;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
            
        }
    }
        // End Subscripe