<!-- =========================
	Section - Footer
============================== -->

<footer>
	<!-- Footer  -->
	<div class="Footer">
		<div class="container">
			<!-- Footer Desktop -->
			<div class="row Footer-desktop">
				<div class="col-md-4 col-sm-4 col-lg-4 col-12">
					<div class="Footer-date">
						<span>© 2011 - 2019   " PAŞA Həyat Sığorta " ASC</span>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-lg-4 col-12">
					<div class="Footer-developed">
						<span>Developed by</span>
						<a href="https://crocusoft.com/" target="_blank">
								<img src="../../img/logo/Crocusoft_logo3.webp" alt="Crocusoft_logo">
						</a>
						
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-lg-4 col-12">
					<div class="Footer-social">
						<a href="#"><img src="../../img/icons/fb.png" alt="facebook"></a>
						<a href="#"><img src="../../img/icons/instagram.png" alt="instagram"></a>
						<a href="#"><img src="../../img/icons/linkedin.png" alt="linkedin"></a>
						<a href="#"><img src="../../img/icons/whatsapp.png" alt="whatsapp"></a>
						<a href="#"><img src="../../img/icons/youtube.png" alt="youtube"></a>
					</div>
				</div>
			</div>
			<!-- End Footer Desktop -->
			<!-- Footer Mobile -->
			<div class="row Footer-mobile">
					<div class="col-md-12 col-sm-12 col-lg-12 col-12">
							<div class="Footer-social">
								<a href="#"><img src="../../img/icons/fb.png" alt="facebook"></a>
								<a href="#"><img src="../../img/icons/instagram.png" alt="instagram"></a>
								<a href="#"><img src="../../img/icons/linkedin.png" alt="linkedin"></a>
								<a href="#"><img src="../../img/icons/whatsapp.png" alt="whatsapp"></a>
								<a href="#"><img src="../../img/icons/youtube.png" alt="youtube"></a>
							</div>
						</div>
					<div class="col-md-12 col-sm-12 col-lg-12 col-12">
						<div class="Footer-date">
							<span>© 2011 - 2019   " PAŞA Həyat Sığorta " ASC</span>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-lg-12 col-12">
						<div class="Footer-developed">
							<span>Developed by</span>
							<a href="https://crocusoft.com/" target="_blank">
									<img src="../../img/logo/Crocusoft_logo.png" alt="Crocusoft_logo">
							</a>
						</div>
					</div>
			</div>
			<!-- Footer Mobile -->	
		</div>
	</div>
</footer>
