<!-- =========================
	Section - Header
============================== -->

<header id="order"class="Header">
		<div class="container">
			<!-- Header Desktop -->
			<div class="row Header__row Header-desktop">
				<!-- Header Logo -->
				<div class="col-md-2 col-sm-2 col-lg-2 col-2">
					<div class="Header__image">
						<a href="#">
								<img src="../../img/logo/lifeaz.png" alt="lifeaz">
						</a>
					</div>
				</div>
				<!-- End Header Logo -->

				<!-- Header Navbar Menu -->
				<div class="col-md-6 col-sm-6 col-lg-6 col-6">
					<div class="Header-navbar">
						<!-- Header Navbar -->
						<nav class="Header-navbar__nav">
							<a id="Header-navbar__about" class="Header-navbar__link" href="#about">haqqımızda</a>
							<a id="Header-navbar__calculator" class="Header-navbar__link" href="#calculator">kalkulyator</a>
							<a id="Header-navbar__faq" class="Header-navbar__link" href="#faq">faq</a>
							<a id="Header-navbar__order" class="Header-navbar__link" href="#order">sİfarİş et</a>
							<a id="Header-navbar__contact" class="Header-navbar__link" href="#contact">əlaqə</a>
						</nav>
						<!-- End Header Navbar -->
						<!-- Header Language Navbar -->
						<div class="Header-navbar__language">
							<div class="Header-navbar__lang">
								<a class="Header-navbar__langlink" href="#azerbaijan"><span class="Header-navbar__activelang">az</span> <img src="../../img/icons/arrow_down.png" alt="arrow_down"></a>
								<!-- Header language Content -->
								<div class="Header-navbar__content">
										<a class="Header-navbar__contentlink linkactive" href="#azerbaijan">az</a>
										<a class="Header-navbar__contentlink" href="#english">en</a>	
										<a class="Header-navbar__contentlink" href="#russian">ru</a>
								</div>
								<!--End Header language Content -->
							</div>
						</div>
						<!-- End Header Language Navbar -->
					</div>
				</div>
				<!-- End Header Navbar Menu -->
				<!-- Header Buttons -->
				<div class="col-md-4 col-sm-4 col-lg-4 col-4 Header-buttons__col">
					<div class="Header-buttons">
						<div class="Header-buttons__order">
							<a href="#"><img src="../../img/icons/plus1.png" alt="plus1"> Sifariş et</a>
						</div>
						<div class="Header-buttons__userprofil">
							<a href="#"><img src="../../img/icons/user.png" alt="user"> Şəxsi kabinet</a>
						</div>
					</div>
				</div>
				<!-- End Header Buttons -->
			</div>
			<!-- End Header Desktop -->


			<!-- Header Mobile -->

			<div class="row Header__row Header-mobile">
				<div class="col-md-4 col-sm-4 col-lg-4 col-4">
					<div class="Header-mobile__logo">
						<a href="#">
								<img src="../../img/logo/lifeaz_mobile.png" alt="lifeaz">
						</a>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-lg-8 col-8">
					<div class="Header-mobile__navbar">
							<div class="Header-mobile__navbutton">
									<img src="../../img/icons/menu.png" alt="menu">
							</div>
							<div class="Header-mobile__userbutton">
								<a href="#"><img src="../../img/icons/user_mobile.png" alt="user_mobile"></a>
							</div>
							<div class="Header-mobile__language">
									<div class="Header-mobile__lang">
										<a class="Header-mobile__langlink" href="#azerbaijan"><span class="Header-mobile__activelang">az</span> <img src="../../img/icons/arrow_down.png" alt="arrow_down"></a>
										<!-- Header language Content -->
										<div class="Header-mobile__content">
												<a class="Header-mobile__contentlink" href="#azerbaijan">az</a>
												<a class="Header-mobile__contentlink" href="#english">en</a>	
												<a class="Header-mobile__contentlink" href="#russian">ru</a>
										</div>
										<!--End Header language Content -->
									</div>
								</div>
								<!-- Position Navbar Menu -->
							<div class="Header-mobile__menu">
								<div class="Header-mobile__close">
									<img src="../../img/icons/close.png" alt="close">
								</div>
								<div class="Header-mobile__navbarmenu">
									<a id="Header-navbar__about" class="Header-mobile__link" href="#about">Haqqımızda</a>
									<a id="Header-navbar__calculator" class="Header-mobile__link" href="#calculator">kalkulyator</a>
									<a id="Header-navbar__faq" class="Header-mobile__link" href="#faq">faq</a>
									<a id="Header-navbar__order" class="Header-mobile__link" href="#order">sİfarİş et</a>
									<a id="Header-navbar__contact" class="Header-mobile__link" href="#contact">əlaqə</a>
								</div>
								<div class="Header-mobile__orderbutton">
										<a href="#">Sİfarİş et</a>
								</div>
							</div>
							<!-- End Position Navbar Menu -->
					</div>
					
				</div>
			</div>

			<!-- End Header Mobile -->

			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-6 col-12">
					<!-- Header Social -->
					<div class="Header-social">
						<!-- Header Social WorkWin -->
						<span class="Header-social__workwin">Əmək haqqınız sizə daha çox qazandırsın!</span>
						<!-- End Header Social WorkWin -->
						<!-- Header Social WorkAbout -->
						<div class="Header-social__workabout">
							<span>Lorem Ipsumun bir çox varyantları vardır. Lakin bunlar bilərəkdən və ya səhv olaraq dəyişdirilmişdir. Əgər ciddi bir layihə üçün sizə Lorem Ipsum lazımdırsa, yəqin abzasın ortasında gizlədilmiş hər hansı bir zarafata rast gəlmək istəməzsiniz.</span>
						</div>
						<!-- End Header Social WorkAbout -->
						<!-- Header Social Buy -->
						<div class="Header-social__buy">
							<a href="#">Sİfarİş et</a>
						</div>
						<!-- End Header Social Buy -->
					</div>
					<!-- End Header Social -->
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 col-12">
					<!-- Header Mouse -->
					<div class="Header__mouse">
						<img src="../../img/icons/mouse.png" alt="mouse">
					</div>
					<!-- End Header Mouse -->
				</div>
			</div>
		</div>
</header>