<!-- =========================
	Section - Main
============================== -->

@@if (context.page === "home") {
<main>
	<!-- Advantages -->
	<div id="advantages" class="Advantages">
		<div class="container">
			<!-- Advantages Presentation -->
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-12 col-12">
					<div class="Advantages-presentation">
						<span class="Advantages-presentation__present">Üstünlüklər</span>
						<span class="Advantages-presentation__about">Lorem Ipsumun bir çox varyantları vardır.</span>
					</div>
				</div>
			</div>
			<!-- End Advantages Presentation -->
			<!-- Advantages Statistics -->
			<div class="row">
				<!-- Advantages Center -->
				<div class="Advantages__center">
						<!-- Advantages Oil -->
						<div class="col-md-12 col-sm-12 col-lg-6 col-12">
								<div class="Advantages-statistic">
									<!-- Andvantages Statistic Image -->
									<div class="Advantages-statistic__image">
										<img src="../../img/icons/oil.png" alt="oil">
									</div>
									<!-- End Andvantages Statistic Image -->
									<!-- Andvantages Statistic About -->
									<div class="Advantages-statistic__about">
										<span class="Advantages-statistic__sector">Neft sektorunda 53% İllİk gəlİr</span>
										<div class="Advantages-statistic__sectorname">
											<span >Çoxları düşünür ki, Lorem Ipsum latıncadan təsadüfü seçilmiş</span>
										</div>
									</div>
									<!--End Andvantages Statistic About -->
								</div>
						</div>
						<!-- End Advantages Oil -->
						<!-- Advantages Building -->
						<div class="col-md-12 col-sm-12 col-lg-6 col-12">
								<div class="Advantages-statistic">
										<!-- Andvantages Statistic Image -->
										<div class="Advantages-statistic__image">
											<img src="../../img/icons/building@2x.png" alt="building">
										</div>
										<!-- End Andvantages Statistic Image -->
										<!-- Andvantages Statistic About -->
										<div class="Advantages-statistic__about">
											<span class="Advantages-statistic__sector">Qeyrineft  sektorunda 28% İllİk gəlİr</span>
											<div class="Advantages-statistic__sectorname">
												<span >Çoxları düşünür ki, Lorem Ipsum latıncadan təsadüfü seçilmiş</span>
											</div>
										</div>
										<!-- End Andvantages Statistic About -->
									</div>
						</div>
						<!-- End Advantages Building -->
						<!-- Advantages User -->
						<div class="col-md-12 col-sm-12 col-lg-6 col-12">
								<div class="Advantages-statistic">
										<!-- Andvantages Statistic Image -->
										<div class="Advantages-statistic__image">
											<img src="../../img/icons/user_2.png" alt="user_2">
										</div>
										<!-- End Andvantages Statistic Image -->
										<!-- Andvantages Statistic About -->
										<div class="Advantages-statistic__about">
											<span class="Advantages-statistic__sector">Şəxsi kabİnet</span>
											<div class="Advantages-statistic__sectorname">
												<span >Çoxları düşünür ki, Lorem Ipsum latıncadan təsadüfü seçilmiş</span>
											</div>
										</div>
										<!-- End Andvantages Statistic About -->
									</div>
						</div>
						<!-- End Advantages User -->
						<!-- Advantages Note -->
						<div class="col-md-12 col-sm-12 col-lg-6 col-12">
								<div class="Advantages-statistic">
										<!-- Andvantages Statistic Image -->
										<div class="Advantages-statistic__image">
											<img src="../../img/icons/note.png" alt="note">
										</div>
										<!-- End Andvantages Statistic Image -->
										<!-- Andvantages Statistic About -->
										<div class="Advantages-statistic__about">
											<span class="Advantages-statistic__sector">Online apply</span>
											<div class="Advantages-statistic__sectorname">
												<span >Çoxları düşünür ki, Lorem Ipsum latıncadan təsadüfü seçilmiş</span>
											</div>
										</div>
										<!-- End Andvantages Statistic About -->
									</div>
						</div>
						<!-- End Advantages Note -->
				</div>
				<!-- End Advantages Center -->
			</div>
			<!-- End Advantages Statistics -->
		</div>
	</div>
	<!-- End Advantages -->

	<!-- Calculator -->
	<div id="calculator" class="Calculator">
			
			<div class="container">
				<!-- Calculator Header -->
				<div class="row">
					<div class="col-md-12 col-sm-12 col-lg-12 col-12">
						<div class="Calculator-header">
							<!-- Calculator Header Center -->
							<div class="Calculator-header__center">
								<span class="Calculator-header__head">KALKULYATOR</span>
								<span class="Calculator-header__about">Lorem Ipsum istifadəçiləri yalnız bir mətndən istifadə edir, sadəcə olaraq onu təkrarlayır.</span>
							</div>
							<!-- End Calculator Header Center -->
						</div>
					</div>
				</div>
				<!-- End Calculator Header -->

				<!-- Calculator DSMF -->
				<div class="row">
					<div class="col-md-12 col-sm-12 col-lg-12 col-12">
						<div class="Calculator-tab__background">
							<!-- Calculator Tab -->
						    <div class="Calculator-tab">
								<!-- Calculator Tab Buttons -->
								<div class="Calculator-tab__scroll">
								<div class="Calculator-tab__buttons">
										<div class="Calculator-tab__link btnactive" onclick="openContent(event, 'Calculator__Content1')">DSMF: Gəlir 50%</div>
										<div class="Calculator-tab__link" onclick="openContent(event, 'Calculator__Content2')">DSMF-dən azadolma</div>
										<div class="Calculator-tab__link" onclick="openContent(event, 'Calculator__Content3')">Kreditsiz qoşulacağı təqdirdə</div>
										<div class="Calculator-tab__link" onclick="openContent(event, 'Calculator__Content4')">Kreditlə qoşulacağı təqdirdə</div>
										<div class="Calculator-tab__link" onclick="openContent(event, 'Calculator__Content5')">Kalkulyator</div>
								</div>
								</div>
								
								<!-- End Calculator Tab Buttons -->
								<!-- Calculator Tab Content 1 -->
								<div id="Calculator__Content1" class="Calculator-tab__content contentactive">
									<div class="Calculator-input">
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Sektor</label>
											<input type="text" class="Calculator-input__input" placeholder="Non-state/Non-oil">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Gross Əməkhaqqı</label>
											<input type="text" class="Calculator-input__input" placeholder="5000">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Max ratio</label>
											<input type="text" class="Calculator-input__input" placeholder="46.50%" value="46.50%">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Yığıma yönləndirilən Max Gross SH</label>
											<input type="text" class="Calculator-input__input" placeholder="2324.77" value="2324.77">
										</div>
										<div class="col-md-12 col-sm-12 col-lg-12 col-12">
											<label for="" class="Calculator-input__label">Brutto MAX SH</label>
											<input type="text" class="Calculator-input__input" placeholder="46.50%" value="46.50%">
										</div>
									</div>
								</div>
								<!-- End Calculator Tab Content 1 -->
								<!-- Calculator Tab Content 2 -->
								<div id="Calculator__Content2" class="Calculator-tab__content">
										<div class="Calculator-input">
												<div class="col-md-6 col-sm-6 col-lg-6 col-12">
													<label for="" class="Calculator-input__label">Doğum tarixi</label>
													<input type="text" class="Calculator-input__input" placeholder="18.12.1968">
												</div>
												<div class="col-md-6 col-sm-6 col-lg-6 col-12">
													<label for="" class="Calculator-input__label">Başlama tarixi</label>
													<input type="text" class="Calculator-input__input" placeholder="14.01.2019" value="14.01.2019">
												</div>
												<div class="col-md-6 col-sm-6 col-lg-6 col-12">
													<label for="" class="Calculator-input__label">Bitmə tarixi</label>
													<input type="text" class="Calculator-input__input" placeholder="14.01.2022" value="14.01.2022">
												</div>
												<div class="col-md-6 col-sm-6 col-lg-6 col-12">
													<label for="" class="Calculator-input__label">Müqavilə (aylarla)</label>
													<input type="text" class="Calculator-input__input" placeholder="36" value="36">
												</div>
												<div class="col-md-12 col-sm-12 col-lg-12 col-12">
													<label for="" class="Calculator-input__label">Aid olduğu sektor</label>
													<select class="Calculator-input__selected">
															<option  selected>Neft-qaz / Dövlət</option>
													</select>
													<img class="Calculator-input__droparrow" src="../../img/icons/arrow_down_2.png" alt="arrow_down_2">
												</div>
												<div class="col-md-6 col-sm-6 col-lg-6 col-12">
														<label for="" class="Calculator-input__label-green"><=200 (max 22%)</label>
														<input type="text" class="Calculator-input__input" placeholder="8%" value="8%">
												</div>
												<div class="col-md-6 col-sm-6 col-lg-6 col-12">
														<label for="" class="Calculator-input__label-green">>200 (max 22%)</label>
														<input type="text" class="Calculator-input__input" placeholder="8%" value="8%">
												</div>
										</div>
								</div>
								<!-- End Calculator Tab Content 2 -->
								<!-- Calculator Tab Content 3 -->
								<div id="Calculator__Content3" class="Calculator-tab__content">
									<div class="Calculator-input">
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Sığorta məbləği</label>
											<input type="text" class="Calculator-input__input" placeholder="34.674.48" value="34.674.48">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Net sığorta haqlarının cəmi</label>
											<input type="text" class="Calculator-input__input" placeholder="26.892.00" value="26.892.00">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Yaşama qoşulacağı təqdirdə xalis gəlir</label>
											<input type="text" class="Calculator-input__input" placeholder="7.782.48" value="7.782.48">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Yaşama qoşulacağı təqdirdə gəlir (faizlə)</label>
											<input type="text" class="Calculator-input__input" placeholder="28.94%" value="28.94%">
										</div>
								</div>
								</div>
								<!-- End Calculator Tab Content 3 -->
								<!-- Calculator Tab Content 4 -->
								<div id="Calculator__Content4" class="Calculator-tab__content">
									<div class="Calculator-input">
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Paket</label>
											<input type="text" class="Calculator-input__input" placeholder="70.00%" value="70.00%">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">İllik faiz dərəcəsi</label>
											<input type="text" class="Calculator-input__input" placeholder="13.00%">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Aylıq tranş mənləği</label>
											<input type="text" class="Calculator-input__input" placeholder="680.40">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Cəm kredit tranşı</label>
											<input type="text" class="Calculator-input__input" placeholder="24.494.40" value="24.494.40">
										</div>
										<div class="col-md-12 col-sm-12 col-lg-12 col-12">
											<label for="" class="Calculator-input__label">Cəm kredit faizləri</label>
											<input type="text" class="Calculator-input__input" placeholder="4.909.00" value="4.909.00">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
												<label for="" class="Calculator-input__label">Qalıq sığorta məbləği</label>
												<input type="text" class="Calculator-input__input" placeholder="5.271.08" value="5.271.08">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
												<label for="" class="Calculator-input__label">Yekun gəlir (faizlə)</label>
												<input type="text" class="Calculator-input__input" placeholder="10.69%" value="10.69%">
										</div>
								</div>
								</div>
								<!-- End Calculator Tab Content 4 -->
								<!-- Calculator Tab Content 5 -->
								<div id="Calculator__Content5" class="Calculator-tab__content">
									<div class="Calculator-input">
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Valyuta</label>
											<input type="text" class="Calculator-input__input" placeholder="AZN" value="AZN">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Netto əmək haqqı</label>
											<input type="text" class="Calculator-input__input" placeholder="1.678.00" value="1.678.00">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Gros əmək haqqı</label>
											<input type="text" class="Calculator-input__input" placeholder="2.000.00">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Netto sığorta haqqı</label>
											<input type="text" class="Calculator-input__input" placeholder="747.00" value="747.00">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Gros sığorta haqqı</label>
											<input type="text" class="Calculator-input__input" placeholder="900.00" value="900.00">
										</div>
										<div class="col-md-6 col-sm-6 col-lg-6 col-12">
											<label for="" class="Calculator-input__label">Super Gros sığorta haqqı</label>
											<input type="text" class="Calculator-input__input" placeholder="972.00" value="972.00">
										</div>
								</div>
								<!-- End Calculator Tab Content 5 -->
								</div>
							</div>
							<!-- End Calculator Tab -->
						</div>
				</div>
				</div>
				<!-- End Calculator DSMF -->

				
			</div>
				
	</div>

	<!-- End Calculator -->
	<!-- FAQ -->
	<div class="Faq">
		<div class="container">
			<!-- FAQ -->
			<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-12">
						<div id="faq" class="Faq-faq">
							<span class="Faq-faq__faq">FAQ</span>
							<span class="Faq-faq__about">Lorem Ipsumun bir çox varyantları vardır.</span>
						</div>
					</div>
				</div>
				<!-- Accordion -->
				<div class="row">
							<!-- End Accordion 1 -->
							<div class="col-md-12 col-sm-12 col-lg-6 col-12">
								<div id="accordion">
										<div class="card">
												<div class="card-header collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												
													<div class="Faq-faq__collaps">
															<div class="Faq-faq__collapsimage">
																<img src="../../img/icons/plus_2.png" alt="plus_2">
															</div>
															<div class="Faq-faq__collapsbody">
																<span>Mənim 37 yaşım var, övladım ödənişli təhsil alır, 3 il üçün təhsil haqqı 20 000 AZN təşkil edir. İllik nə qədər sığorta haqqı ödəməliyəm?</span>
															</div>
													</div>
													<div class="Faq-faq__shadow"></div>
												</div>
										
												<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
													<div class="card-body">
														Mənim 37 yaşım var, övladım ödənişli təhsil alır, 3 il üçün təhsil haqqı 20 000 AZN təşkil edir. İllik nə qədər sığorta haqqı ödəməliyəm?
													</div>
												</div>
											</div>
								</div>
							</div>
							<!-- End Accordion 1 -->
							<!-- Accordion 2 -->
							<div class="col-md-12 col-sm-12 col-lg-6 col-12">
									<div id="accordion">
											<div class="card">
													<div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
												
														<div class="Faq-faq__collaps">
																<div class="Faq-faq__collapsimage">
																	<img class="plus" src="../../img/icons/plus_2.png" alt="plus_2">
																	<img class="subtract" src="../../img/icons/subtract.png" alt="plus_2">
																</div>
																<div class="Faq-faq__collapsbody">
																	<span>Sığorta haqlarının ödənilməsi üçün neçə gün möhlət verilir?</span>
																</div>
														</div>
														<div class="Faq-faq__shadow"></div>
													</div>
											
													<div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
														<div class="card-body">
																Sığorta haqlarının ödənilməsi üçün neçə gün möhlət verilir?
														</div>
													</div>
												</div>
									</div>
							</div>
							<!-- End Accordion 2 -->
							<!-- Accordion 3 -->
							<div class="col-md-12 col-sm-12 col-lg-6 col-12">
										<div id="accordion">
												<div class="card">
														<div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
													
															<div class="Faq-faq__collaps">
																	<div class="Faq-faq__collapsimage">
																		<img class="plus" src="../../img/icons/plus_2.png" alt="plus_2">
																		<img class="subtract" src="../../img/icons/subtract.png" alt="plus_2">
																	</div>
																	<div class="Faq-faq__collapsbody">
																		<span>Ödəniş almaq üçün bədbəxt hadisə nə hesab olunur?</span>
																	</div>
															</div>
															<div class="Faq-faq__shadow"></div>
														</div>
												
														<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
															<div class="card-body">
																	Ödəniş almaq üçün bədbəxt hadisə nə hesab olunur?
															</div>
														</div>
													</div>
										</div>
							</div>
							<!-- End Accordion 3 -->
							<!-- Accordion 4 -->
							<div class="col-md-12 col-sm-12 col-lg-6 col-12">
											<div id="accordion">
													<div class="card">
															<div class="card-header collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
															
																<div class="Faq-faq__collaps">
																		<div class="Faq-faq__collapsimage">
																			<img class="plus" src="../../img/icons/plus_2.png" alt="plus_2">
																			<img class="subtract" src="../../img/icons/subtract.png" alt="plus_2">
																		</div>
																		<div class="Faq-faq__collapsbody">
																			<span>Sığorta məbləği necə hesablanır?</span>
																		</div>
																</div>
																<div class="Faq-faq__shadow"></div>
															</div>
													
															<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
																<div class="card-body">
																		Sığorta məbləği necə hesablanır?
																</div>
															</div>
														</div>
											</div>
							</div>
							<!-- End Accordion 4 -->
							<!-- Accordion 5 -->
							<div class="col-md-12 col-sm-12 col-lg-6 col-12">
												<div id="accordion">
														<div class="card">
																<div class="card-header collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
															
																	<div class="Faq-faq__collaps">
																			<div class="Faq-faq__collapsimage">
																				<img class="plus" src="../../img/icons/plus_2.png" alt="plus_2">
																				<img class="subtract" src="../../img/icons/subtract.png" alt="plus_2">
																			</div>
																			<div class="Faq-faq__collapsbody">
																				<span>İcbari sığorta üzrə təminat hansı hallarda xarici ölkələrdə qüvvədə olur?</span>
																			</div>
																	</div>
																	<div class="Faq-faq__shadow"></div>
																</div>
														
																<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
																	<div class="card-body">
																			İcbari sığorta üzrə təminat hansı hallarda xarici ölkələrdə qüvvədə olur?
																	</div>
																</div>
															</div>
												</div>
							</div>
							<!-- End Accordion 5 -->
							<!-- Accordion 6 -->
							<div class="col-md-12 col-sm-12 col-lg-6 col-12">
													<div id="accordion">
															<div class="card">
																	<div class="card-header collapsed" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
																
																		<div class="Faq-faq__collaps">
																				<div class="Faq-faq__collapsimage">
																					<img class="plus" src="../../img/icons/plus_2.png" alt="plus_2">
																					<img class="subtract" src="../../img/icons/subtract.png" alt="plus_2">
																				</div>
																				<div class="Faq-faq__collapsbody">
																					<span>Sığorta hadisəsi baş verərsə, sığorta ödənişi neçə gün ərzində həyata keçirilir? </span>
																				</div>
																		</div>
																		<div class="Faq-faq__shadow"></div>
																	</div>
															
																	<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
																		<div class="card-body">
																				Sığorta hadisəsi baş verərsə, sığorta ödənişi neçə gün ərzində həyata keçirilir?
																		</div>
																	</div>
																</div>
													</div>
							</div>
							<!-- End Accordion 6 -->
					</div>
					<!-- End Accordion -->
					<!-- End FAQ -->
		</div>
	</div>
	<!-- End FAQ -->
	<!-- Video -->
	<div id="about" class="Video">

		<div class="Video__container">
				<div class="container">
						<div class="row">
							<!-- Video Play -->
							<div class="col-md-12 col-sm-12 col-lg-6 col-12">
								<div class="c-video">
										<video id="video" class="video" width="100%" src="../../img/PAŞA Həyat - PASHA Life.mp4"></video>
										<div id="controls" class="controls">
												<div id="play-button" class="play-button">
														<button id="play-pause"><img id="play-image" src="../../img/icons/play_button.png" alt="play-button"><img id="pause-image" src="../../img/icons/pause-button-2.png" alt="play-button"></button>
												</div>
											<div id="green-bar" class="green-bar">
												<div id="green-juice" class="green-juice"></div>
											</div>
										</div>
								</div>
							</div>
							<!-- End Video Play -->
							<!-- Video About -->
							<div class="col-md-12 col-sm-12 col-lg-6 col-12">
									<div class="Video-about">
										<span class="Video-about__head">Lorem ipsum</span>
										<span class="Video-about__header">dİzaynda İstİfadə olunur</span>
										<div class="Video-about__body">
											<p>Çoxları düşünür ki, Lorem Ipsum latıncadan təsadüfü seçilmiş sözcüklərdən ibarətdir, amma bu belə deyil. Onun bizim eramızdan qabaq 45-ci il tarixinə – klassik Latın ədəbiyyatına qədər uzanan 2000 illik bir keçmişi vardır. Virginia ştatında Hampden-Sydney kollecinin latin dili üzrə professoru Richard McClintock lorem Ipsumun qəribə və anlaşılması çətin idi. </p>
										</div>
									</div>
							</div>
							<!-- End Video About -->
						</div>
					</div>
		</div>
	</div>
	<!-- End Video -->

	<!-- Contact -->
	<div id="contact" class="Contact">
		
			<div class="container Contact__container">
				<div class="row">
					<!-- Contact Header -->
					<div class="col-md-12 col-sm-12 col-lg-12 col-12 Contact__head-text">
							<span class="Contact__head">ƏLAQƏ</span>
					</div>
					<!-- End Contact Header -->
					<!-- Contact Input -->
					<div class="col-md-6 col-sm-6 col-lg-6 col-12">
							<div class="Contact-input">
								<form action="">
									<input type="email" id="email" name="email" placeholder="E-mail">
									<input type="text" id="text" name="text" placeholder="Mövzu">
									<textarea name="message" id="message" cols="30" rows="5" placeholder="Mesaj"></textarea>
									<button type="submit" class="Contact-input__send">Send Message</button>
								</form>
							</div>
					</div>
					<!-- End Contact Input -->
					<!-- Contact Connection -->
					<div class="col-md-6 col-sm-6 col-lg-6 col-12">
						<div class="Contact-margin">
								<div class="Contact-connection">
										<div class="Сontact-connection__image">
												<img src="../../img/icons/phone.png" alt="phone">
										</div>
										<div class="Contact-connection__body">
												<span>Zəng (09:00 - 18:00)</span>
												<span>(012) 942</span>
										</div>
									</div>
									<div class="Contact-connection">
											<div class="Сontact-connection__image">
													<img src="../../img/icons/email.png" alt="email">
											</div>
											<div class="Contact-connection__body">
													<span>Email</span>
													<span>office@pasha-life.az</span>
											</div>
										</div>
										<div class="Contact-connection">
												<div class="Сontact-connection__image">
														<img src="../../img/icons/location.png" alt="location">
												</div>
												<div class="Contact-connection__body">
														<span>Ünvan</span>
														<span>Hüquqi : Lev Tolstoy 170 <br />
																Faktiki : Mayakovski 15</span>
												</div>
											</div>
						</div>
						
					</div>
					<!-- End Contact Connection -->
				</div>
			</div>
	</div>
	<!-- End Contact -->
	<!-- Subscribe -->
	<div class="Subscribe">
			<div class="container">
				<div class="Subscribe-form">
					<form action="">
						<input type="email" class="Subscribe-form__email" placeholder="Abunə olmaq üçün e-mailnizi daxil edin">
						<button type="submit" class="Subscribe-form__subbutton">Abunə ol</button>
					</form>
				</div>
			</div>
	</div>
	<!-- End Subscribe -->
</main>
}